.App {
  text-align: center;
}

#hex, #rgb {
  border: none;
  border-bottom: 1px dotted black;
  background: transparent;
}

#hex:focus, #rgb:focus {
  outline: 0 !important
}

.hexrgb {
  font-size: 25px
}

.navbar {
  border-radius: 0;
}
