.App {
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px dotted black;
  background: transparent;
}

input:focus {
  outline: 0 !important;
}

.hexrgb {
  font-size: 25px;
}

.navbar-nav {
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-item {
  margin: 0 5px;
}
